<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.canopas.projectunity</key>
		<string>65398d54-66da-45c4-9fb8-f34d5959a2c7</string>
	</dict>
	<key>signingCertificate</key>
	<string>FD8B18062AE40F0F83E5336333ED7500205AF4FF</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>S985H2T7J8</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
